<div class="row" [hidden]="!flagShowFilters">
  <div class="col-12">
    <div class="card">
      <div class="card-header b-l-primary border-3">

        <h5 class="card-title">
          Filters
        </h5>
      </div>
      <div class="card-body">
        <form autocomplete="off" [formGroup]="mainFormCriteria" novalidate>

          <div class="form-row">

            <div class="form-group col-md-4">
              <input class="form-control" placeholder="Id" type="number" formControlName="id" name="id" >
            </div>

            <div class="form-group col-md-4">
              <input class="form-control" placeholder="FullNames" type="text" formControlName="names" name="names" >
            </div>
          </div>
        </form>
      </div>
      <div class="card-footer">
        <button class="btn btn-primary mr-1" type="button" ngbTooltip="Filter" (click)="filterData();toggleFilters();">
          Filter
        </button>
        <button class="btn btn-secondary" type="button" ngbTooltip="Clear" (click)="onClearFilters()">
          Clear
        </button>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-12">
    <div class="card">
      <div class="card-header b-l-primary border-3">

        <h5 class="card-title">
          Records
        </h5>
      </div>
      <div class="card-footer">
        <button class="btn btn-primary mr-1" type="button" ngbTooltip="New" [routerLink]="[{ outlets: { crud: ['add'] } }]">
          <i class="fa fa-plus" aria-hidden="true"></i>&nbsp;New
        </button>
        <button class="btn btn-secondary mr-1" type="button" ngbTooltip="Filters" (click)="toggleFilters()" >
          <i class="fa fa-filter" aria-hidden="true"></i>&nbsp;Filters
        </button>
        <button class="btn btn-secondary mr-1" type="button" ngbTooltip="Refresh" (click)="filterData()" >
          <i class="fa fa-refresh" aria-hidden="true"></i>&nbsp;Refresh
        </button>
        <button class="btn btn-secondary mr-1" type="button" ngbTooltip="KPI" (click)="openModalKpi()" >
          <i class="fa fa-cogs" aria-hidden="true"></i>&nbsp;KPI
        </button>
      </div>
      <div class="card-body">
        <div class="controls-above-table">
          <div class="row">
            <div class="col-sm-12">
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12">
              <form class="form-inline justify-content-sm-end">
                <label><b style="padding: 5px">Total  Records: ({{total}})</b></label>
                <select class="form-control form-control-sm" [(ngModel)]="pageSize" name="pageSize" >
                  <option *ngFor="let item of pageSizes" [value]="item">Records per Page ( {{item}} )</option>
                </select>
                <div class="espaciado"></div>
              </form>
            </div>
          </div>
        </div>
        <div class="table-responsive">
          <table kapcom-sortable (sorted)="onSorted($event)" class="table table-hover card-table">
            <thead>
            <tr>
              <th>Actions</th>
              <th kapcom-sortable-column="id">Id</th>
              <th kapcom-sortable-column="name">Name</th>
              <th kapcom-sortable-column="lastname">LastName</th>
              <th kapcom-sortable-column="birth_date">Birth Date</th>
              <th kapcom-sortable-column="age">Age</th>
              <th kapcom-sortable-column="death_date">Death Date</th>
              <th kapcom-sortable-column="death_age">Death Age</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let item of models">
              <td>
                <div class="btn-group">
                  <button type="button" class="btn btn-primary" [routerLink]="[{ outlets: { crud: ['edit',item.id] } }]">
                    <i class="icon-feather-edit" aria-hidden="true"></i>
                  </button>
                  <button class="btn btn-secondary" type="button"
                          [swal]="commonSwal"
                          (confirm)="removeRecord(item.id)">
                    <i class="icon-feather-trash-2" aria-hidden="true"></i>
                  </button>
                  <div class="btn-group" ngbDropdown role="group" aria-label="Button group with nested dropdown">
                    <button class="btn btn-secondary" ngbDropdownToggle></button>
                    <div class="dropdown-menu" ngbDropdownMenu>
                      <button class="dropdown-item">No options available.</button>
                    </div>
                  </div>
                </div>
              </td>
              <td>{{item.id}}</td>
              <td>{{item.name}}</td>
              <td>{{item.lastname}}</td>
              <td>{{item.birth_date | date :  "dd/MM/yyyy"}}</td>
              <td>{{item.age}}</td>
              <td>{{item.death_date | date :  "dd/MM/yyyy"}}</td>
              <td>{{item.death_age}}</td>

            </tr>
            <tr *ngIf="!models || models.length==0">
              <td colspan="7">No registration available.</td>
            </tr>
            </tbody>
          </table>
          <ngb-pagination style="padding-top: 1rem" class="d-flex justify-content-start" [collectionSize]="total" [page]="currentPage" [maxSize]="5" [boundaryLinks]="true" [pageSize]="pageSize" (pageChange)="onPageChanged($event)"></ngb-pagination>
        </div>
      </div>
    </div>
  </div>
</div>

    <swal
        #commonSwal
        title="Confirm"
        text="Are you sure to continue?"
        type="question"
        [showCancelButton]="true"
        [focusCancel]="true">
      </swal>

<ng-http-loader [backgroundColor]="'#1b55e2'" [spinner]="spinkit.skThreeBounce" [debounceDelay]="200">
</ng-http-loader>
